*.iml
*.idea

target/
api/target/
omod/target/

/.settings
/.project
*.DS_Store

omod/.DS_Store

/.classpath
 

activemq-data

api/.project
api/.classpath
api/.settings/
api/activemq-data

omod/.project
omod/.classpath
omod/.settings/

omod/node/
omod/node_modules/

omod/src/main/webapp/resources/styles/**/*.css
omod/src/main/webapp/resources/styles/**/*.css.map
omod/src/main/webapp/resources/styles/lib/
